3-webservices/TVGlobal_Client_Loesung/xml-resources/web-service-references/TVGlobal/wsdl/localhost_8080/TVGlobal_Server_Musterloesung/TVGlobal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/" name="TVGlobal">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/" schemaLocation="http://localhost:8080/TVGlobal_Server_Musterloesung/TVGlobal?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="createNewProgram">
        <part name="parameters" element="tns:createNewProgram"/>
    </message>
    <message name="createNewProgramResponse">
        <part name="parameters" element="tns:createNewProgramResponse"/>
    </message>
    <message name="getAllStations">
        <part name="parameters" element="tns:getAllStations"/>
    </message>
    <message name="getAllStationsResponse">
        <part name="parameters" element="tns:getAllStationsResponse"/>
    </message>
    <message name="findProgramByStartBetween">
        <part name="parameters" element="tns:findProgramByStartBetween"/>
    </message>
    <message name="findProgramByStartBetweenResponse">
        <part name="parameters" element="tns:findProgramByStartBetweenResponse"/>
    </message>
    <message name="createNewStation">
        <part name="parameters" element="tns:createNewStation"/>
    </message>
    <message name="createNewStationResponse">
        <part name="parameters" element="tns:createNewStationResponse"/>
    </message>
    <portType name="TVGlobalSoapWebservice">
        <operation name="createNewProgram">
            <input wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/createNewProgramRequest" message="tns:createNewProgram"/>
            <output wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/createNewProgramResponse" message="tns:createNewProgramResponse"/>
        </operation>
        <operation name="getAllStations">
            <input wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/getAllStationsRequest" message="tns:getAllStations"/>
            <output wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/getAllStationsResponse" message="tns:getAllStationsResponse"/>
        </operation>
        <operation name="findProgramByStartBetween">
            <input wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/findProgramByStartBetweenRequest" message="tns:findProgramByStartBetween"/>
            <output wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/findProgramByStartBetweenResponse" message="tns:findProgramByStartBetweenResponse"/>
        </operation>
        <operation name="createNewStation">
            <input wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/createNewStationRequest" message="tns:createNewStation"/>
            <output wsam:Action="http://soap.tvglobal_server.javaee.vertsys.wwi.dhbwka/TVGlobalSoapWebservice/createNewStationResponse" message="tns:createNewStationResponse"/>
        </operation>
    </portType>
    <binding name="TVGlobalSoapWebservicePortBinding" type="tns:TVGlobalSoapWebservice">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="createNewProgram">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAllStations">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="findProgramByStartBetween">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="createNewStation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="TVGlobal">
        <port name="TVGlobalSoapWebservicePort" binding="tns:TVGlobalSoapWebservicePortBinding">
            <soap:address location="http://localhost:8080/TVGlobal_Server_Musterloesung/TVGlobal"/>
        </port>
    </service>
</definitions>