3-webservices/JoeCool_Carsharing_Client/xml-resources/web-service-references/JoeCoolSoapWebservice/wsdl/localhost_8080/JoeCoolSoapWebserviceService/JoeCoolSoapWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/" name="JoeCoolSoapWebserviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/" schemaLocation="http://localhost:8080/JoeCoolSoapWebserviceService/JoeCoolSoapWebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="saveNewCustomer">
<part name="parameters" element="tns:saveNewCustomer"/>
</message>
<message name="saveNewCustomerResponse">
<part name="parameters" element="tns:saveNewCustomerResponse"/>
</message>
<message name="saveNewAutomobile">
<part name="parameters" element="tns:saveNewAutomobile"/>
</message>
<message name="saveNewAutomobileResponse">
<part name="parameters" element="tns:saveNewAutomobileResponse"/>
</message>
<message name="saveNewLoanContract">
<part name="parameters" element="tns:saveNewLoanContract"/>
</message>
<message name="saveNewLoanContractResponse">
<part name="parameters" element="tns:saveNewLoanContractResponse"/>
</message>
<message name="CarUnavailableException">
<part name="fault" element="tns:CarUnavailableException"/>
</message>
<message name="findAllAutomobiles">
<part name="parameters" element="tns:findAllAutomobiles"/>
</message>
<message name="findAllAutomobilesResponse">
<part name="parameters" element="tns:findAllAutomobilesResponse"/>
</message>
<message name="findLoanContractsByCustomer">
<part name="parameters" element="tns:findLoanContractsByCustomer"/>
</message>
<message name="findLoanContractsByCustomerResponse">
<part name="parameters" element="tns:findLoanContractsByCustomerResponse"/>
</message>
<portType name="JoeCoolSoapWebservice">
<operation name="saveNewCustomer">
<input wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/saveNewCustomerRequest" message="tns:saveNewCustomer"/>
<output wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/saveNewCustomerResponse" message="tns:saveNewCustomerResponse"/>
</operation>
<operation name="saveNewAutomobile">
<input wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/saveNewAutomobileRequest" message="tns:saveNewAutomobile"/>
<output wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/saveNewAutomobileResponse" message="tns:saveNewAutomobileResponse"/>
</operation>
<operation name="saveNewLoanContract">
<input wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/saveNewLoanContractRequest" message="tns:saveNewLoanContract"/>
<output wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/saveNewLoanContractResponse" message="tns:saveNewLoanContractResponse"/>
<fault message="tns:CarUnavailableException" name="CarUnavailableException" wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/saveNewLoanContract/Fault/CarUnavailableException"/>
</operation>
<operation name="findAllAutomobiles">
<input wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/findAllAutomobilesRequest" message="tns:findAllAutomobiles"/>
<output wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/findAllAutomobilesResponse" message="tns:findAllAutomobilesResponse"/>
</operation>
<operation name="findLoanContractsByCustomer">
<input wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/findLoanContractsByCustomerRequest" message="tns:findLoanContractsByCustomer"/>
<output wsam:Action="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/JoeCoolSoapWebservice/findLoanContractsByCustomerResponse" message="tns:findLoanContractsByCustomerResponse"/>
</operation>
</portType>
<binding name="JoeCoolSoapWebservicePortBinding" type="tns:JoeCoolSoapWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="saveNewCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveNewAutomobile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveNewLoanContract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CarUnavailableException">
<soap:fault name="CarUnavailableException" use="literal"/>
</fault>
</operation>
<operation name="findAllAutomobiles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findLoanContractsByCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="JoeCoolSoapWebserviceService">
<port name="JoeCoolSoapWebservicePort" binding="tns:JoeCoolSoapWebservicePortBinding">
<soap:address location="http://localhost:8080/JoeCoolSoapWebserviceService/JoeCoolSoapWebservice"/>
</port>
</service>
</definitions>