3-webservices/JoeCool_Carsharing_Client/xml-resources/web-service-references/JoeCoolSoapWebservice/wsdl/localhost_8080/JoeCoolSoapWebserviceService/JoeCoolSoapWebservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.server.joe_cool.ws.vertsys.wwi.dhbwka/">

<xs:element name="CarUnavailableException" type="tns:CarUnavailableException"/>

<xs:element name="findAllAutomobiles" type="tns:findAllAutomobiles"/>

<xs:element name="findAllAutomobilesResponse" type="tns:findAllAutomobilesResponse"/>

<xs:element name="findLoanContractsByCustomer" type="tns:findLoanContractsByCustomer"/>

<xs:element name="findLoanContractsByCustomerResponse" type="tns:findLoanContractsByCustomerResponse"/>

<xs:element name="saveNewAutomobile" type="tns:saveNewAutomobile"/>

<xs:element name="saveNewAutomobileResponse" type="tns:saveNewAutomobileResponse"/>

<xs:element name="saveNewCustomer" type="tns:saveNewCustomer"/>

<xs:element name="saveNewCustomerResponse" type="tns:saveNewCustomerResponse"/>

<xs:element name="saveNewLoanContract" type="tns:saveNewLoanContract"/>

<xs:element name="saveNewLoanContractResponse" type="tns:saveNewLoanContractResponse"/>

<xs:complexType name="saveNewCustomer">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="housenumber" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="street" type="xs:string" minOccurs="0"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveNewCustomerResponse">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveNewLoanContract">
<xs:sequence>
<xs:element name="loanContract" type="tns:loanContract" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loanContract">
<xs:sequence>
<xs:element name="automobile" type="tns:automobile" minOccurs="0"/>
<xs:element name="beginDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="customer" type="tns:customer" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="automobile">
<xs:sequence>
<xs:element name="buildYear" type="xs:int"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="manufacturer" type="xs:string" minOccurs="0"/>
<xs:element name="model" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveNewLoanContractResponse">
<xs:sequence>
<xs:element name="loanContract" type="tns:loanContract" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CarUnavailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllAutomobiles">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllAutomobilesResponse">
<xs:sequence>
<xs:element name="automobile" type="tns:automobile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveNewAutomobile">
<xs:sequence>
<xs:element name="automobile" type="tns:automobile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveNewAutomobileResponse">
<xs:sequence>
<xs:element name="automobile" type="tns:automobile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findLoanContractsByCustomer">
<xs:sequence>
<xs:element name="customerId" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findLoanContractsByCustomerResponse">
<xs:sequence>
<xs:element name="loanContract" type="tns:loanContract" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>